@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color--1: #fab10d;
    --color--2: #000;
    --color--white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    transition: all 0.3s;
}

button {
    border: 0;
    outline: 0;
    background-color: transparent;
    transition: all 0.3s;
}

body {
    font-family: Montserrat,sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fab10d;
    scroll-behavior: smooth;
}

.page-scroll-button{
    display: flex;
     justify-content: center;
     align-items: center;
     background-color: var(--color--1);
     color: var(--color--white);
     border: 1px solid var(--color--white);
     border-radius: 5px;
     bottom: 30px;
     font-size: 20px;
     height: 45px;
     position: fixed;
     right: 30px;
     width: 45px;
     z-index: 99999;
}

.page-scroll-button:hover{
    background-color: var(--color--2);
    border-color:var(--color--1);
    border-radius: 50%;
    color: var(--color--1);
    
}

header {
    width: 100%;
    background-color: var(--color--2);
}

header .top-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background-color: var(--color--2);
    position: relative;
    width: 100%;
}

header .top-nav .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .top-nav .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 200px;
}

header .logo img {
    width: 100%;
    object-fit: contain;
}

@media only screen and (min-width: 576px) {
    header .logo img {
        max-width: 200px;
    }
}

header .top-nav .menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color--2);
    width: 100%;
    max-width: 1000px;
    min-height: 0;
    padding: 0;
    position: relative;
    flex-direction: column;
}

header .menu .nav-links {
    padding: 0 15px;
    margin-bottom: 0;
    flex-direction: row;
}

header .nav-links a.link {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    padding: 12px;
    color: var(--color--white);
}

header .nav-links .link.active {
    color: var(--color--1);
}

header .flags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header .flags button {
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

header .flags button img {
    width: 35px;
    height: 35px;
}

header .menu-button {
    color: var(--color--white);
    width: 55px;
    height: 50px;
    font-size: 22px;
    transition: all 0.2s;
    background-color: transparent;
    border: 2px solid var(--color--white);
    border-radius: 20%;
}

header .offcanvas {
    background-color: var(--color--2);
}

header .offcanvas-header .logo {
    width: 158px;
}

header .offcanvas-header .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header .close-button i {
    font-size: 30px;
    color: var(--color--1);

}

header .offcanvas-body .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
}

header .offcanvas-body .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

header .offcanvas-body .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .offcanvas-body .social-icons .link {
    border: 1px solid var(--color--white);
    border-radius: 5px;
    color: var(--color--white);
    font-size: 18px;
    height: 42px;
    width: 42px;
    margin-right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .offcanvas-body .social-icons .link:hover {
    color: var(--color--2);
    border-radius: 50%;
    background-color: var(--color--1);
    transition: all 0.2s;
    border: 1px solid var(--color--1);
}

header .offcanvas-body .contact-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0;
    width: 100%;
}

header .offcanvas-body .contact-links .link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 25px;
    font-weight: 500;
    color: var(--color--white);
    border-radius: 10px;
}

header .offcanvas-body .contact-links .link i {
    font-size: 26px;
    margin-right: 10px;
    transition: all 0.1s;
}

header .offcanvas-body .link:hover {
    color: var(--color--2);
    background-color: var(--color--1);
    border-radius: 10px;

}

.swiper {
    width: 100%;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

section.home .banner-img::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

section.home .banner-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 80vh;
    position: relative;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--color--white);
    font-weight: 600;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 30px;
    
}

@media only screen and (max-width:576px) {
    .swiper-button-next::after,
.swiper-button-prev::after {    
    font-size: 20px;
   
}
}
section.home .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


@media only screen and (min-width: 576px) {
    section.home .content .text,
    section.home .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}

section.home .content .text {
    font-weight: 500;
    max-width: 700px;
    padding: 20px;
    font-size: 18px;
    z-index: 99;
}

@media only screen and (max-width: 576px) {
    section.home .container .text{
        text-align: start;
    }
}

@media only screen and (min-width: 992px) {
    section.home .content .text {
        font-size: 24px;
    }
}

@media only screen and (min-width: 1200px) {
    section.home .container .text p{
        font-size: 32px;
    }
}

@media only screen and (max-width: 576px) {
    section.home .text p{
        text-align: center;
    }
}






section.home .content .text .large-text {
    margin-bottom: 25px;
}

section.home .content .text p {
    color: var(--color--white);
    z-index: 99;
    position: relative;

}

@media only screen and (min-width: 992px) {
    section.home .content {
        max-height: 600px;
        min-height: 600px;
    }

}

section.about {
    margin-top: 50px;
    text-align: center;
}

section .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.about .row {
    width: 100%;
}

section.about .row .col-12 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 25px;
}

section.about .col-12 .section-title {
    color: var(--color--2);
    font-weight: 500;
    margin-bottom: 20px;
    padding: 15px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

section.about .section-title::after {
    background-color: var(--color--1);
    position: absolute;
    content: " ";
    bottom: 0;
    left: 50%;
    height: 3px;
    min-width: 150px;
    width: 60%;
    transform: translateX(-50%);
}

@media only screen and (min-width:768px) {
    section.about .content {
        text-align: start;
        align-items: flex-start;
    }
}

section.about .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
}

section.about .content .text-title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 22px;
}

@media only screen and (min-width:768px) {
    section.about .content .text {
        text-align: justify;
        color: rgba(0, 0, 0, 0.7);
    }
}

header .nav-links a.link::before,
header .nav-links a.link::after{
    background-color: var(--color--1);
    content: '';
    height: 1px;
    position: absolute;
    left: 0;
    transition: all 0.3s;
    width: 100%;
    transform: scale(0);
}

header .nav-links a.link::after{
    bottom: 0;
}

header .nav-links a.link::before{
    top: 0;
}

header .nav-links a.link:hover{
    color: var(--color--1);
}

header .nav-links a.link:hover::before,
header .nav-links a.link:hover::after{
    transform: scale(1);
}
header .nav-links a.active{
    color: var(--color--1);
}


section.form {
    margin-top: 50px;
    padding: 30px 0;
}

section.form{
    background: linear-gradient(30deg,var(--color--2) 50%,var(--color--1)50% 100%);
}

@media only screen and (min-width:992px) {
    section.form {
        background: linear-gradient(to right, var(--color--2) 50%,
                var(--color--1) 50% 100%);
    }
}


section.form .row {
    width: 100%;
}

.row .col-12 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

section.form .row .col-12 {
    margin-bottom: 25px;
}

section.form .general-form {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

@media only screen and (min-width:992px) {
    section.form .general-form {
        align-items: flex-start;
    }
}

@media only screen and (min-width:992px) {
    section.form .general-form .form-title {
        text-align: start;
        font-size: 24px;
    }
}

section.form .general-form .form-title {
    color: var(--color--white);
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase
}

@media only screen and (max-width:992px) {
    section.form .general-form .form-title{
        text-align: center;
    }
    
}
    section.form .general-form .about-form {
        min-height: 915px;
        padding: 20px;
    }

section.form .general-form .about-form {
    background-color: var(--color--white);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
   
}

section.form .general-form .about-form .component {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 25px;
    width: 100%;
}

section.form .about-form .component .input-group {
    width: 100%;
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

section.form .input-group input {
    border-right-color: var(--color--1);
    padding: 10px 13px;
}

section.form .form-control {
    background-clip: padding-box;
    background-color: var(--color--white);
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    color: #212529;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    box-shadow: none;

}

section.form .input-text {
    display: flex;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    line-height: 1.5;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 0.375rem;
    border: 1px solid #dee2e6;
    padding: 15px;
    background-color: var(--color--1);
    color: var(--color--white);
    transition: all 0.3s;
}

section.form .component:hover input {
    border-color: var(--color--1);
}

section.form .component:hover .input-text {
    background-color: var(--color--white);
    color: var(--color--1);
}


section.form .component .label {
    margin-bottom: 5px;
}

@media only screen and (min-width:992px) {
    section.form .component .label {
        font-size: 16px;
        text-align: start;
    }
}

section.form .component .form-check {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 7px;
}

section.form .component .form-check-input {
    background-color: var(--color--white);
    border: 1px solid #dee2e6;
    height: 1em;
    vertical-align: top;
    width: 1em;
    float: left;
    margin-left: -1.5em;
    border-radius: 0.25em;
    padding: 0;
    box-shadow: none;
    
}

section.form .component .form-check-input:checked {
    box-shadow: none;
    border-color: var(--color--1);
    background-color: var(--color--1);
}



section.form .component .form-select {
    padding: 10px 40px 10px 13px;
}

section.form .component .form-select {
    background-color: var(--color--white);
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    color: #212529;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
    box-shadow: none;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    display: none;
}

section.form .file-input {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

section.form .file-input input {
    cursor: pointer;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 5;
    appearance: none;
    opacity: 0;
}

section.form .file-input span {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 60px 10px 13px;
    width: 100%;
}

section.form .file-input button {
    position: absolute;
    background-color: var(--color--1);
    border-radius: 5px;
    color: var(--color--white);
    font-size: 13px;
    padding: 7px 13px;
    right: 5px;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
}

section.form .submit-button {
    align-self: flex-end;
    background-color: var(--color--1);
    border-radius: 10px;
    color: var(--color--white);
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
    padding: 15px 30px;
    position: relative;
    text-transform: uppercase;
   
}
@media only screen and (max-width:992px) {
    section.form .submit-button{
        padding: 12px;
    }
    
}

section.form .submit-button::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid var(--color--1);
    transform: scale(1.3);
    opacity: 0;
    transition: all 0.3s;

}
section.form .submit-button:hover::after {
    transform: scale(1);
    opacity: 1;
}

section.form .submit-button:hover{
    background-color: var(--color--white);
    color: var(--color--1);
    transition: all 0.3s;
}


section.partners {
    margin-top: 100px;
}

section.partners .section-title {
    color: var(--color--2);
    font-weight: 500;
    margin-bottom: 20px;
    padding: 15px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

section.partners .section-title::after {
    background-color: var(--color--1);
    position: absolute;
    content: " ";
    bottom: 0;
    left: 50%;
    height: 3px;
    min-width: 150px;
    width: 60%;
    transform: translateX(-50%);
}

@media only screen and (min-width:992px) {
    section.partners .partner-img img{
        width: 50px;
        height: 50px;
    }
    
}

section.partners .partner-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

section.partners .partner-img img {
    object-fit: contain;
    width: 150px;
    height: 150px;
}

.swiper-pagination {
    bottom: 0;

}

.swiper-pagination-bullet {
    min-width: 15px;
    min-height: 15px;
    border-radius: 50%;
    background-color: var(--color--1);
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

section.partners .swiper-slide {
    padding: 10px 0 60px;
}


section.workers .swiper-pagination {
    margin-bottom: -10px;
}

section.workers .swiper .swiper-pagination-bullet {
    background-color: var(--color--1);
    width: 15px;
    height: 15px;
}


section.workers .container {
    margin-top: 100px;
}

section.workers .section-title {
    color: var(--color--2);
    font-weight: 500;
    margin-bottom: 20px;
    padding: 15px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}


section.workers .section-title::after {
    background-color: var(--color--1);
    position: absolute;
    content: " ";
    bottom: 0;
    left: 50%;
    height: 3px;
    min-width: 150px;
    width: 60%;
    transform: translateX(-50%);
}

section.workers .worker-amount {
    margin-top: 30px;
    margin-bottom: 20px;
}

section.workers .worker-amount span {
    color: rgba(0, 0, 0, .5);
    font-size: 22px;
}

.workers-swiper {
    padding-bottom: 50px;
}

section.workers .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

section.workers .worker-card {
    cursor: pointer;
    width: 100%;
    max-width: 220px;
    min-height: 190px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s ease;
}

section.workers .swiper-slide:hover .worker-card {
    transform: rotateY(180deg);
}

section.workers .card-face.front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

section.workers .worker-card .card-face.front img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.workers .card-face.back {
    background-color: var(--color--1);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--color--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}



section.gallery {
    background-color: var(--color--2);
    padding: 40px 0px;
    margin-top: 100px;
    margin-bottom: 100px;
}

section.gallery .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section.gallery .section-title {
    color: var(--color--white);
    font-weight: 500;
    margin-bottom: 20px;
    padding: 15px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}


section.gallery .section-title::after {
    background-color: var(--color--1);
    position: absolute;
    content: " ";
    bottom: 0;
    left: 50%;
    height: 3px;
    min-width: 150px;
    width: 60%;
    transform: translateX(-50%);
}

section.gallery .gallery-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    overflow-x: auto;
    padding: 15px;
    width: 100%;
}

@media only screen and (max-width:992px) {
    section.gallery .gallery-buttons {
        justify-content: flex-start;
    }

}

section.gallery .gallery-buttons button {
    border-color: var(--color--1);
    color: var(--color--white);
    border: 1px solid var(--color--white);
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    margin: 10px;
    padding: 10px 25px;
    text-transform: capitalize;
}

section.gallery .row .col-12 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

section.gallery .item {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 290px;
}

section.gallery .item .image,
section.gallery .item .image img {
    width: 100%;
    height: 100%;
    overflow: hidden;
  
}

section.gallery .item .image img {
    object-fit: cover;
}

section.gallery .item .hover {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

section.gallery .item:hover .hover {
    opacity: 1;
    transition: all 0.1s;
}

section.gallery .item .hover a {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    color: var(--color--2);
    background-color: var(--color--1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

section.gallery .item .hover a:hover {
    background-color: var(--color--2);
    color: var(--color--1);
}

section.gallery .image:hover img{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.3);
    transition: all .5s;
}

section.gallery .gallery-buttons button:hover {
    border: 1px solid var(--color--1);
    color: var(--color--1);
    transition: all .2s;

}
section.gallery .gallery-buttons button.active:hover{
    color: var(--color--2);
}

section.gallery button.active{
    background-color: var(--color--1);
    color: var(--color--2);
    border: 1px solid var(--color--1);
}



section.counter .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section.counter .section-title {
    color: var(--color--2);
    font-weight: 500;
    margin-bottom: 20px;
    padding: 15px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}


section.counter .section-title::after {
    background-color: var(--color--1);
    position: absolute;
    content: " ";
    bottom: 0;
    left: 50%;
    height: 3px;
    min-width: 150px;
    width: 60%;
    transform: translateX(-50%);
}

section.counter  span.calculation-value{
    color: rgba(0, 0, 0, .6);
    text-align: center;
    margin-bottom: 20px;
}

section.counter .row{
    margin-top: 20px;
    width: 100%;
}

section.counter .row .col-12{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
}

section.counter .counter-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

section.counter .counter-item img{
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}
section.counter .counter-item .counter-span{
    color: var(--color--1);
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
}
section.counter .counter-item .label{
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

section.contact{
    margin-bottom:0 ;
    padding: 40px 0;
    background: url(image/download.png);
    margin-top: 70px;

}

section.contact .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section.contact .section-title {
    color: var(--color--white);
    font-weight: 500;
    margin-bottom: 20px;
    padding: 15px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}


section.contact .section-title::after {
    background-color: var(--color--1);
    position: absolute;
    content: " ";
    bottom: 0;
    left: 50%;
    height: 3px;
    min-width: 150px;
    width: 60%;
    transform: translateX(-50%);
}

section.contact .row{
    width: 100%;
}

section.contact .row .col-12{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}

@media only screen and (min-width:992px) {
    section.contactv .row .col-12{
        margin-bottom: 0;
    } 
    
}

@media only screen and (min-width:992px) {
    section.contactv  .row .left-col{
        align-items: flex-start;
    } 
}

section.contact .logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 200px;
}

section.contact .logo img{
    width: 100%;
    object-fit: contain;
}

section.contact .contact-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

section.contact .contact-wrapper .link{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--color--1);

}

section.contact .contact-wrapper .link .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        font-size: 24px;
        min-height: 50px;
        min-width: 70px;
        color: var(--color--white);
        border-bottom: none;
        border: 1px solid var(--color--1);
        background-color: var(--color--1);
}

section.contact .contact-wrapper .link .label{
    color: var(--color--white);
    font-size: 18px;
    padding-left: 10px;
    text-align: center;
}

section.contact .contact-wrapper .icon:hover{
        border: 1px solid var(--color--white); 
        background: none;
        transition: all .3s;
}

section.contact .social-icons{
    display:flex;
    align-items: center;
    justify-content: center;
}
section.contact .social-icons .link{
     border: 1px solid var(--color--white);
     border-radius: 5px;
     color: var(--color--white);
     font-size: 18px;
     width: 42px;
     height: 42px;
     margin-right: 7px;
     transition: all .2s;
     display: flex;
     align-items: center;
     justify-content: center;
}

section.contact .social-icons .link:hover{
    border-radius: 50%;
    background-color: var(--color--1);
    color: var(--color--2);
    border-color: var(--color--2);
}   
section.contact .card-link{
    display: flex;
    align-items: center;
    justify-content:center ;
    margin-top: 30px;
}

footer.bottom{
    background-color: var(--color--2);
    color: hsla(0, 0%, 100%, .7);
    font-size: 16px;
    font-weight: 500;
    padding: 30px 0;
    text-align: center;
    width: 100%;
}

footer.bottom .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


