@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color--1: #fab10d;
    --color--2: #000;
    --color--white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    transition: all 0.3s;
}

button {
    border: 0;
    outline: 0;
    background-color: transparent;
    transition: all 0.3s;
}

body {
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fab10d;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    background-color: var(--color--2);
}

header .top-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background-color: var(--color--2);
    position: relative;
    width: 100%;
}

header .top-nav .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .top-nav .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 200px;
}

header .logo img {
    width: 100%;
    object-fit: contain;
}

@media only screen and (min-width: 576px) {
    header .logo img {
        max-width: 200px;
    }
}

header .top-nav .menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color--2);
    width: 100%;
    max-width: 1000px;
    min-height: 0;
    padding: 0;
    position: relative;
    flex-direction: column;
}

header .menu .nav-links {
    padding: 0 15px;
    margin-bottom: 0;
    flex-direction: row;
}

header .nav-links a.link {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    padding: 12px;
    color: var(--color--white);
}

header .nav-links .link.active {
    color: var(--color--1);
}

header .flags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header .flags button {
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

header .flags button img {
    width: 35px;
    height: 35px;
}

header .menu-button {
    color: var(--color--white);
    width: 55px;
    height: 50px;
    font-size: 22px;
    transition: all 0.2s;
    background-color: transparent;
    border: 2px solid var(--color--white);
    border-radius: 20%;
}

header .offcanvas {
    background-color: var(--color--2);
}

header .offcanvas-header .logo {
    width: 158px;
}

header .offcanvas-header .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header .close-button i {
    font-size: 30px;
    color: var(--color--1);

}

header .offcanvas-body .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
}

header .offcanvas-body .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

header .offcanvas-body .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .offcanvas-body .social-icons .link {
    border: 1px solid var(--color--white);
    border-radius: 5px;
    color: var(--color--white);
    font-size: 18px;
    height: 42px;
    width: 42px;
    margin-right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .offcanvas-body .social-icons .link:hover {
    color: var(--color--2);
    border-radius: 50%;
    background-color: var(--color--1);
    transition: all 0.2s;
    border: 1px solid var(--color--1);
}

header .offcanvas-body .contact-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0;
    width: 100%;
}

header .offcanvas-body .contact-links .link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 25px;
    font-weight: 500;
    color: var(--color--white);
    border-radius: 10px;
}

header .offcanvas-body .contact-links .link i {
    font-size: 26px;
    margin-right: 10px;
    transition: all 0.1s;
}

header .offcanvas-body .link:hover {
    color: var(--color--2);
    background-color: var(--color--1);
    border-radius: 10px;

}

.swiper {
    width: 100%;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

section.home .banner-img::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

section.home .banner-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 80vh;
    position: relative;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--color--white);
    font-weight: 600;
}

section.home .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 576px) {
    section.home .content .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}

@media only screen and (min-width: 576px) {
    section.home .content .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: start;
    }
}

@media only screen and (min-width: 992px) {
    section.home .content .text {
        font-size: 24px;

    }
}

@media only screen and (min-width: 992px) {
    section.home .content .text .large-text {
        font-size: 24px;
    }
}

section.home .content .text {
    font-weight: 500;
    max-width: 700px;
}

@media only screen and (min-width: 576px) {
    section.home .text p {
        font-size: 32px;
    }
}

section.home .content .text .large-text {
    margin-bottom: 25px;


}

section.home .content .text p {
    color: var(--color--white);
    z-index: 99;
    position: relative;

}

@media only screen and (min-width: 992px) {
    section.home .content {
        max-height: 600px;
        min-height: 600px;
    }

}

section.about {
    margin-top: 50px;
    text-align: center;
}

section .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.about .row {
    width: 100%;
}

section.about .row .col-12 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 25px;
}

section.about .col-12 .section-title {
    color: var(--color--2);
    font-weight: 500;
    margin-bottom: 20px;
    padding: 15px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

section.about .section-title::after {
    background-color: var(--color--1);
    position: absolute;
    content: " ";
    bottom: 0;
    left: 50%;
    height: 3px;
    min-width: 150px;
    width: 60%;
    transform: translateX(-50%);
}

@media only screen and (min-width:768px) {
    section.about .content {
        text-align: start;
        align-items: flex-start;
    }
}

section.about .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
}

section.about .content .text-title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 22px;
}

@media only screen and (min-width:768px) {
    section.about .content .text {
        text-align: justify;
        color: rgba(0, 0, 0, 0.7);
    }
}

/* header .menu .nav-links .link::before{
    background-color: var(--color--1);
    content: " ";
    height: 1px;
    position: absolute;
    left: 0;
    top: 0;
    transform: scaleX(0);
    transition: 0.3s;
    width: 100%;
    border-top: 1px solid var(--color--1);
    border-bottom:  1px solid var(--color--1);
}

header .menu .nav-links .link::after{
    background-color: var(--color--1);
    content: " ";
    height: 1px;
    position: absolute;
    left: 0;
    top: 0;
    transform: scaleX(0);
    transition: 0.3s;
    width: 100%;
    border-top: 1px solid var(--color--1);
    border-bottom:  1px solid var(--color--1);
} */

section.form {
    margin-top: 50px;
    padding: 30px 0;
}

@media only screen and (min-width:992px) {
    section.form {
        background: linear-gradient(to right, var(--color--2) 50%,
                var(--color--1) 50% 100%);
    }
}


section.form .row {
    width: 100%;
}

.row .col-12 {
    display: flex;
    align-items: center;
    justify-content: center;
}

section.form .row .col-12 {
    margin-bottom: 25px;
}

section.form .general-form {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

@media only screen and (min-width:992px) {
    section.form .general-form {
        align-items: flex-start;
    }
}

@media only screen and (min-width:992px) {
    section.form .general-form .form-title {
        text-align: start;
        font-size: 24px;
    }
}

section.form .general-form .form-title {
    color: var(--color--white);
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase
}

@media only screen and (min-width:992px) {
    section.form .general-form .about-form {
        min-height: 915px;
        padding: 40px 30px;
    }
}

section.form .general-form .about-form {
    background-color: var(--color--white);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

section.form .general-form .about-form .component {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 25px;
    width: 100%;
}

section.form .about-form .component .input-group {
    width: 100%;
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

section.form .input-group input {
    border-right-color: var(--color--1);
    padding: 10px 13px;
}

section.form .form-control {
    background-clip: padding-box;
    background-color: var(--color--white);
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    color: #212529;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    box-shadow: none;

}

section.form .input-text {
    display: flex;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    line-height: 1.5;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 0.375rem;
    border: 1px solid #dee2e6;
    padding: 15px;
    background-color: var(--color--1);
    color: var(--color--white);
}

section.form .input-group:hover {
    color: var(--color--1);
}


section.form .component .label {
    margin-bottom: 5px;
}

@media only screen and (min-width:992px) {
    section.form .component .label {
        font-size: 16px;
        text-align: start;
    }
}

section.form .component .form-check {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 7px;
    min-height: 1.5rem;
    padding-left: 1.5em;
}

section.form .component .form-check-input {
    background-color: var(--color--white);
    border: 1px solid #dee2e6;
    height: 1em;
    vertical-align: top;
    width: 1em;
    float: left;
    margin-left: -1.5em;
    border-radius: 0.25em;
    padding: 0;
    box-shadow: none;
}

section.form .component .form-check-input:checked {
    box-shadow: none;
    border-color: var(--color--1);
    background-color: var(--color--1);
}

section.form .component .form-check-input {
    margin: 0 10px 0 0;
}

section.form .component .form-select {
    padding: 10px 40px 10px 13px;
}

section.form .component .form-select {
    background-color: var(--color--white);
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    color: #212529;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
    box-shadow: none;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    display: none;
}

section.form .file-input {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

section.form .file-input input {
    cursor: pointer;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 5;
    appearance: none;
    opacity: 0;
}

section.form .file-input span {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 60px 10px 13px;
    width: 100%;
}

section.form .file-input button {
    position: absolute;
    background-color: var(--color--1);
    border-radius: 5px;
    color: var(--color--white);
    font-size: 13px;
    padding: 7px 13px;
    right: 5px;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
}

section.form .submit-button {
    align-self: flex-end;
    background-color: var(--color--1);
    border-radius: 10px;
    color: var(--color--white);
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
    padding: 15px 30px;
    position: relative;
    text-transform: uppercase;
}

section.partners {
    margin-top: 100px;
}

section.partners .section-title {
    color: var(--color--2);
    font-weight: 500;
    margin-bottom: 20px;
    padding: 15px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

section.partners .section-title::after {
    background-color: var(--color--1);
    position: absolute;
    content: " ";
    bottom: 0;
    left: 50%;
    height: 3px;
    min-width: 150px;
    width: 60%;
    transform: translateX(-50%);
}

section.partners .partner-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

section.partners .partner-img img {
    object-fit: contain;
    width: 176px;
    height: 176px;
}

.swiper-pagination {
    bottom: 0;

}

.swiper-pagination-bullet {
    min-width: 15px;
    min-height: 15px;
    border-radius: 50%;
    background-color: var(--color--1);
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

section.partners .swiper-slide {
    padding: 10px 0 60px;
}